@model List<Footer>

<footer class="footer-area">
    <div class="container footer">
        <div class="d-sm-flex flex-row justify-content-center flex-wrap">
            <div class="site-logo text-center py-4">
                <a href="">
                    <img src="" alt="Buraya logo gelecek.">
                </a>
                <div class="social text-center">
                    <h5>Beni takip edin:</h5>
                    @foreach (var item in Model)
                    {
                        <a href="@item.Link"><i class="@item.Icon"></i></a>
                    }
                </div>
                <div class="copyright text-center">
                    <p class="para">
                        Copyright ©2021 All Rights Reserved. This site designed by <a
                            href="htttp://batuhanaktas.blogspot.com"><span
                                style="color:var(--primary-color);">Bohemsoft.</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
