@{
    ViewData["Title"] = "Projeler Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Project

<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Project" asp-action="Create" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Text"></label>
                    <textarea asp-for="Text" class="form-control" cols="10" rows="5"></textarea>
                    <span asp-validation-for="Text"></span>
                </div>
                <div class="mb-3">
                    @* resim seçici - upload *@
                    <label class="form-label" asp-for="CoverImage"></label>
                    <input asp-for="CoverImage" class="form-control">
                    <span asp-validation-for="CoverImage"></span>
                </div>
                <div class="mb-3">
                    @foreach (var item in Model.Images)
                    {
                        <p>Burası boş geliyor.</p>
                        <img src="~/assets/@item.Path/@item.ImageName" alt="@item.ImageName">
                    }
                </div>
                @* <div class="mb-3">
                    <label class="form-label" asp-for="ProjectCategories"></label>
                    @foreach (var item in @Model.ProjectCategories)
                    {
                    burayı hallet sonra.
                    kategori seçici
                    }
                    </div>
                *@
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="isDone" id="isDone">
                    <label class="form-check-label" for="isDone">
                        Yapılmış mı?</label>
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="isHome" id="isHome">
                    <label class="form-check-label" for="isHome">
                        Anasayfada mı? </label>
                </div>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>