@{
    ViewData["Title"] = "Yeni Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Category
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Category" asp-action="Create" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" class="form-control">
                    <span asp-validation-for="CategoryName"></span>
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Kategori T端r端" id="cType" name="cType">
                        <option selected disabled>Kategori T端r端</option>
                        <option value="Lang">Lang</option>
                        <option value="Tech">Tech</option>
                    </select>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Filter"></label>
                        <input asp-for="Filter" class="form-control" pattern="[A-Za-z.]>
                        <span asp-validation-for=" Filter"></span>
                    </div>
                    <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>