@{
    ViewData["Title"] = "Admin Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@* buraları düzenle *@
@* buraya tasarım gelecek *@
<div class="container">
    <div class="row">

    </div>
</div>