@model Slider
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Admin" asp-action="SliderCreate" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="Image"></label>
                    <input asp-for="Image" class="form-control">
                    <span asp-validation-for="Image"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="isHome"></label>
                    <input asp-for="isHome" class="form-control">
                    <span asp-validation-for="isHome"></span>
                </div>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>