<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/@@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/lib/Magnific-Popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>
    @* start header *@
    @await Component.InvokeAsync("Menu")
    @* adminMenu üret *@
    @* end header *@
    @* start main area *@
    <main class="site-main" style="padding:3% 2%;">
        <div class="row" style="margin-right:0;">
            <div class="col-lg-2">
                @* @await Html.PartialAsync("_adminSideBar",Model.SideBar) *@
                @await Component.InvokeAsync("AdminSideBar")
            </div>
            <div class="col-lg-10">
                @RenderBody()
            </div>
            @* start footer section*@
            @* end footer section*@
    </main>
    @* end main area *@
    @* Start Script area *@
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/myscript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script>
        if ($(document).width() < 1200) {
            $("#sidebar").hide();
        }
        $("#adminhide").click(function () {
            var adm = $("#sidebar");
            if (adm.is(":hidden")) {
                adm.show();
            } else {
                adm.hide();
            }
        });
    </script>
    @* End Script area *@
</body>

</html>