<footer class="footer-area">
    <div class="container footer">
        <div class="d-sm-flex flex-row justify-content-center flex-wrap">
            <div class="site-logo text-center py-4">
                <a href="">
                    <img src="" alt="Buraya logo gelecek.">
                </a>
                <div class="social text-center">
                    <h5>Beni takip edin:</h5>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-kaggle"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="copyright text-center">
                    <p class="para">
                        Copyright ©2020 All Rights Reserved. This site designed by <a href="#"><span
                                style="color:var(--primary-color);">Bohemsoft.</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
