@model MenuItem
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="MenuItem" asp-action="Create" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="MenuItemName"></label>
                    <input asp-for="MenuItemName" class="form-control">
                    <span asp-validation-for="MenuItemName"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Link"></label>
                    <input asp-for="Link" class="form-control">
                    <span asp-validation-for="Link"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="ParentId"></label>
                    <input asp-for="ParentId" class="form-control">
                    <span asp-validation-for="ParentId"></span>
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="isParent" id="isParent">
                    <label class="form-check-label" for="isParent">Ebeveyn mi</label>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Order"></label>
                    <input asp-for="Order" class="form-control">
                    <span asp-validation-for="Order"></span>
                </div>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>