@model MenuItem
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="MenuItem" asp-action="Update" method="post">
                <input type="hidden" name="MenuItemId" value="@Model.MenuItemId">
                <div class="mb-3">
                    <label class="form-label" asp-for="MenuItemName"></label>
                    <input asp-for="MenuItemName" class="form-control" value="@Model.MenuItemName">
                    <span asp-validation-for="MenuItemName"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Link"></label>
                    <input asp-for="Link" class="form-control" value="@Model.Link">
                    <span asp-validation-for="Link"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="ParentId"></label>
                    <input asp-for="ParentId" class="form-control" value="@Model.ParentId">
                    <span asp-validation-for="ParentId"></span>
                </div>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>