@{
    ViewData["Title"] = "Yeni Resim Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Image
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Image" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="else" value="else">
                        <label class="form-check-label" for="else">
                            Diğer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="portfolio" value="portfolio">
                        <label class="form-check-label" for="portfolio">
                            Projeler
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="ides" value="ides">
                        <label class="form-check-label" for="ides">
                            Slider
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="clients" value="clients">
                        <label class="form-check-label" for="clients">
                            Testimonial
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="services" value="services">
                        <label class="form-check-label" for="services">
                            Servisler
                        </label>
                    </div>
                </div>
                <div class="row" id="tekli">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>