@{
    ViewData["Title"] = "Hakkımda";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-6 mb-3">
            <h3>Eğitim</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Eskişehir Osmangazi Üniversitesi 2011-2017</h5>
                    <p class="card-text">FEF Matematik ve Bilgisayar Bilimleri</p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ankara Bahçelievler Anadolu Lisesi 2007-2011</h5>
                    <p class="card-text">Matematik ve Fen</p>
                </div>
            </div>

        </div>
        <div class="col-6 mb-3">
            <h3>Yetenekler</h3>
            <div class="row">

                <div class="col-6">
                    <div class="card  mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Front End</h5>
                            <ul>
                                <li class="card-text">HTML</li>
                                <li class="card-text">CSS</li>
                                <li class="card-text">JS</li>
                                <li>Frameworks
                                    <ul>
                                        <li class="card-text">JQuery</li>
                                        <li class="card-text">Bootstrap</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Back End</h5>
                            <ul>
                                <li class="card-text">C#
                                    <ul>
                                        <li class="card-text">ASP.NET Core MVC</li>
                                        <li class="card-text">Entity Framework</li>
                                    </ul>
                                </li>
                                <li class="card-text">MSSQL</li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Python</h5>
                            <ul>
                                <li class="card-text">Veri Görselleştirme
                                    <ul>
                                        <li class="card-text">Matplotlib</li>
                                        <li class="card-text">Plotly</li>
                                        <li class="card-text">Seaborn</li>
                                    </ul>
                                </li>
                                <li class="card-text">Makine Öğrenmesi
                                    <ul>
                                        <li class="card-text">Pandas</li>
                                        <li class="card-text">Numpy</li>
                                        <li class="card-text">Scikit-Learn</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">C#</h5>
                            <ul>
                                <li class="card-text">WinForms</li>
                                <li class="card-text">Metro Framework</li>
                                <li class="card-text">HTML Agility Pack</li>
                                <li class="card-text">VLCLib</li>
                                <li class="card-text">CefSharp</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

