@{
    ViewData["Title"] = "Hakkımda";
}

<section class="about-area">
    <div class="container">
        <div class="about-div mt-3">
            <div class="row about-row">
                <div class="col-md-12">
                    <h2 class="about-title text-capitalize text-center"> Hakkımda</h2>
                    <div class="about-text">
                        <p class="px-1" style="text-align:justify;text-justify:inner-word">
                            1993 yılında Ankara'da doğdum. İlk ve orta öğrenimimi Ankara'da, üniversiteyi Eskişehir’de
                            tamamladım. Yazılım geliştirme ile üniversiteye hazırlanırken tanıştım. Bilgisayar
                            bilimlerinin yanı sıra astronomi, matematik, fizik, futbol, genel kültür gibi alanlara
                            meraklıyım. Odaklanma problemi olmaksızın uzun süreler boyunca çalışabilirim. Araştırmayı ve
                            yeni şeyler öğrenmeyi severim. Takım çalışmasını ve beyin fırtınası yapmayı çok severim. İyi
                            insanlarla iyi anlaşırım. Aldığım eğitim gereği matematik altyapısına sahibim. Temel mantık,
                            algoritma kurma, problem çözme ve hata tespiti gibi konularda kendime güvenirim. Hedefim
                            yapay zeka üzerine yazılımlar geliştirmek ve bu alanda kariyer yapmak. Arkasındaki matematik
                            sihir gibi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 px-3">
                <div class="col-lg-6 col-md-5 col-sm-12 mb-3">
                    <h3 class="text-center">Eğitim</h3>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Eskişehir Osmangazi Üniversitesi 2011-2017</h5>
                            <p class="card-text">FEF Matematik ve Bilgisayar Bilimleri</p>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Ankara Bahçelievler Anadolu Lisesi 2007-2011</h5>
                            <p class="card-text">Matematik ve Fen</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-6 col-sm-12 mb-3">
                    <h3 class="text-center">Yetenekler</h3>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Front End</h5>
                                    <ul>
                                        <li class="card-text">HTML</li>
                                        <li class="card-text">CSS</li>
                                        <li class="card-text">JS</li>
                                        <li>Frameworkler
                                            <ul>
                                                <li class="card-text">JQuery</li>
                                                <li class="card-text">Bootstrap</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Back End</h5>
                                    <ul>
                                        <li class="card-text">C#
                                            <ul>
                                                <li class="card-text">ASP.NET Core MVC</li>
                                                <li class="card-text">Entity Framework</li>
                                                <li class="card-text">LINQ</li>
                                            </ul>
                                        </li>
                                        <li class="card-text">MSSQL</li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Python</h5>
                                    <ul>
                                        <li class="card-text">Veri Görselleştirme
                                            <ul>
                                                <li class="card-text">Matplotlib</li>
                                                <li class="card-text">Plotly</li>
                                                <li class="card-text">Seaborn</li>
                                            </ul>
                                        </li>
                                        <li class="card-text">Makine Öğrenmesi
                                            <ul>
                                                <li class="card-text">Pandas</li>
                                                <li class="card-text">Numpy</li>
                                                <li class="card-text">Scikit-Learn</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">C#</h5>
                                    <ul>
                                        <li class="card-text">WinForms</li>
                                        <li class="card-text">Metro Framework</li>
                                        <li class="card-text">HTML Agility Pack</li>
                                        <li class="card-text">VLCLib</li>
                                        <li class="card-text">CefSharp</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>