@* start about section *@

<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img class="img-fluid" src="~/assets/img/about.jpg" alt="about">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title">
                <h2 class="title-text pt-5">
                    <span>Hakkımda</span>
                    <span>Kısa Kısa</span>
                </h2>
                <div class="paragraph py-4 w-75">
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et dapibus enim.
                        Pellentesque
                        mollis nunc nec urna tincidunt efficitur. Quisque.
                    </p>
                    <p class="para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quam quasi veritatis
                        corporis sed est iusto ipsam error nostrum eaque?
                    </p>
                </div>
                <button type="button" class="btn button primary-button">Özgeçmiş <i
                        class="fas fa-file-download"></i></button>
            </div>
        </div>
    </div>
</section>
@* end about section*@