@model List<MenuItem>

<div class="list-group">
  @foreach (var side in Model)
  {
    <a href="/Admin/@side.Link/Index/" id="@side.MenuItemName.ToLower()" onclick="clickedMe(this)"
    class="list-group-item list-group-item-action">@side.MenuItemName</a>
  }
</div>