@model List<MenuItem>

<button id="adminhide" class="list-group-item list-group-item-action">
  <i class="fas fa-times"></i> Gizle / Göster</button>
<div class="list-group" id="sidebar">
  <a href="/Admin/Index/" id="admin"
    class="list-group-item list-group-item-action @(ViewBag.Selected=="Admin"?"active":"") ">Admin Anasayfa</a>
  @foreach (var side in Model)
  {
    <a href="/Admin/@side.Link/Index/" id="@side.MenuItemName.ToLower()"
    class="list-group-item list-group-item-action @(ViewBag.Selected==side.Link?"active":"") ">@side.MenuItemName</a>
  }
</div>